* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial,  sans-serif;
    background: #111b21;
    color: #e9edef;
    min-height: 100vh;
}

.portfolio {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 30%;
    max-width: 380px;
    background: #202c33;
    border-right: 1px solid #344047;
}

.sidebar-header {
    padding: 25px;
    border-right: 1px solid #344047;

}

.sidebar-header h1 {
     font-size: 24px;
     letter-spacing: 2px;
}

.sidebar nav {
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #e9edef;
    text-decoration: none;
    border-radius: 10px;
}

.sidebar a:hover {
    background: #2a3942;
}
