* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial,  sans-serif;
    background: #111b21;
    color: #e9edef;
    min-height: 100vh;
}

.portfolio {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 30%;
    max-width: 380px;
    background: #202c33;
    border-right: 1px solid #344047;
}

.sidebar-header {
    padding: 25px;
    border-right: 1px solid #344047;

}

.sidebar-header h1 {
     font-size: 24px;
     letter-spacing: 2px;
}

.sidebar nav {
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: #e9edef;
    text-decoration: none;
    border-radius: 10px;
}

.sidebar a:hover {
    background: #2a3942;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #111b21;
}

.chat-header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 25px;
    background: #202c33;
    border-bottom: 1px solid #344047;
}

.chat-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-header h2 {
    font-size: 18px;
    margin-bottom: 4px;
}

.chat-header p {
    color: #8696a0;
    font-size: 14px;
}

.messages {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.message {
    max-width: 65%;
    padding: 15px 18px;
    margin-bottom: 20px;
    border-radius: 12px;
    line-height: 1.6;
}

.message.received {
    background: #202c33;
    margin-right: auto;
    border-top-left-radius: 6px;
}

.message.sent {
    background: #005c4b;
    margin-left: auto;
    border-top-right-radius: 4px;
}

.message p {
    margin-bottom: 8px;
}

.message strong {
    color: #00a884;
    font-size: 16px;
}

